vendor/
node_modules/
npm-debug.log

# Workbench
workbench/
testbench.yaml

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

.phpunit.result.cache